<header>
  <div>
    <h1>Michael Ziluck</h1>
    <h2>Software Engineer</h2>
  </div>
  <div class="icon-container">
    <ul class="icons">
      <li>
        <a class="social-link" target="_blank" href="https://github.com/Michael-Ziluck">
          <span class="fa-brands fa-github"></span>
        </a>
      </li>
      <li>
        <a class="social-link" target="_blank" href="https://www.linkedin.com/in/ziluck/">
          <span class="fa-brands fa-linkedin"></span>
        </a>
      </li>
      <li>
        <a class="social-link" href="assets/MichaelZiluckResume.PDF" download>
          <span class="fa-solid fa-download"></span>
        </a>
      </li>
    </ul>
  </div>
</header>

<main class="container text-light py-5">
  <article>
    <h3>About Me</h3>
    <section class="d-flex flex-md-row flex-column gap-5">
      <div class="flex-fill d-flex justify-content-center d-print-none">
        <img class="profile-pic"
          ngSrc="https://www.gravatar.com/avatar/{{Md5.hashStr('ziluckmichael@gmail.com')}}?s=200"
          width="200px"
          height="200px"
          alt="Profile Picture"
        >
      </div>
      <div class="flex-fill">
        <p>
          Hello! My name is Michael and I'm a Software Engineer. For the past 10 years, I have worked on a variety of
          applications ranging from enterprise web apps, to game development, to system architecture. Here you can find
          some key examples of my projects, past experience, and various technical skills.
        </p>
        <p>
          Outside of work, my hobbies include table top RPGs, video games, skiing, and eSports. If you want to chat
          about any of my hobbies, I would be more than happy to go on long-winded rants about various topics in those
          realms.
        </p>
      </div>
    </section>
  </article>

  <article>
    <h3>Experience</h3>
    <section *ngFor="let role of experiences" class="new-role">
      <div class="role-details col-md-4 col-sm-5 col-12">
        <h4>{{ role.company }}</h4>
        <p class="role-title">{{ role.title }}</p>
        <p class="role-dates">{{ role.employed.start }} - {{ role.employed.end ? role.employed.end : 'Current' }}</p>
        <a [href]="role.website" target="_blank"><em>{{ role.website }}</em></a>
      </div>
      <p class="role-description col-md-8 col-sm-7 col-12">{{ role.description }}</p>
    </section>
  </article>

  <article>
    <h3>Education</h3>
    <section class="row d-flex role">
      <div class="col-md-4 col-sm-5 col-12">
        <h4>Iowa State University</h4>
        <p class="title font-weight-bold">BS Management Information Systems</p>
        <p class="role-dates">2015-2019</p>
      </div>
      <p class="col-md-8 col-sm-7 col-12">
        When first enrolled at Iowa State, my major was originally Software Engineering. However, due to my strong
        interest in business application development and significant extracurricular work experience, I made the switch
        to Management Information Systems during my sophomore year.
      </p>
    </section>
  </article>

  <article>
    <h3>Skills / Experience</h3>
    <section class="row d-flex">
      <div class="col-lg-4 col-12 row">
        <p class="col-lg-12 col-7">
          Throughout my career, I have had the opportunity (and sometimes misfortune) to work with many different pieces
          of technology. Several skills marked as less than SME once qualified as SME, but due to not having used them
          in some time have been adjusted.
        </p>
        <div class="col-lg-12 col-5">
          <p>Color Key:</p>
          <ul class="">
            <li class="text-primary"><span class="text-light">Subject Matter Expert</span></li>
            <li class="text-success"><span class="text-light">Advanced</span></li>
            <li class="text-warning"><span class="text-light">Intermediate</span></li>
          </ul>
        </div>
      </div>
      <ul class="col-lg-8 col-12 skills ps-5">
        <li *ngFor="let skill of skills"
            [class.text-primary]="skill.level === 'Expert'"
            [class.text-success]="skill.level === 'Advanced'"
            [class.text-warning]="skill.level === 'Intermediate'"
        >
        <span class="skill"
        >
          {{ skill.name }}
        </span>
          <ul *ngIf="skill.subSkills">
            <li *ngFor="let sub of skill.subSkills"
                [class.text-primary]="sub.level === 'Expert'"
                [class.text-success]="sub.level === 'Advanced'"
                [class.text-warning]="sub.level === 'Intermediate'"
            >
              <span class="skill">{{ sub.name }}</span>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </article>
</main>
